@font-face {
  font-family: "NotoColorEmoji";;
  src: url(fonts/NotoColorEmoji.ttf) format("truetype");
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

input {
  width: 70%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 30px;
}

ul {
  font-family: NotoColorEmoji;
  text-align: left;
}

li {
  font-size: 50px;
  display:inline-block;
  cursor: pointer;
  padding: 10px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 90%;
  margin-left: -80px;
}

/* Popup arrow */
.popuptext::before {
  content: "Copied";
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .fade {
  visibility: visible;
  animation: fadeIn 1s forwards;
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
  0% {opacity: 0;} 
  50% {opacity: 1;}
  100% {opacity: 0;} 
}